body{
    background: #ffffff;
}

.contenedorImagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#banner{
    width: 60%;
}

.principal{
    padding: 20px;
    background: #d6b9b9;
}

.diferenciales{
    padding: 30px;
    background: #ffffff;
}

.tituloPrincipal{
   padding-left: 40px;
   color: rgb(182, 0, 0);
   font-size: 35px;
   font-family: Helvetica;
}

.items{
    font-style: italic;
}

ul{
    vertical-align: top;
    display: inline-block;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    vertical-align: center;
    width: 20%;
}

.tituloCentralizado{
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color: #e20031;
}

#mision{
    font-size: 20px;
}
